.home-hero .image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  transform: translateZ(0);
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

.content img {
  border-radius: 10px;
}

.nav-dropdown-link-item .icon {
  display: none;
}

:root {
  --c-brand: #83cd4f;
  --c-brand-light: #83cd4f;
}

.custom-block.tip {
  border-color: var(--c-brand-light);
}

.DocSearch {
  --docsearch-primary-color: var(--c-brand) !important;
}
